<h1>Listing suites</h1>

<table>
  <tr>
    <th>Build date</th>
    <th>Build time</th>
    <th>Duration</th>
    <th>Duration converted</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @suites.each do |suite| %>
  <tr>
    <td><%= suite.build_date %></td>
    <td><%= suite.build_time %></td>
    <td><%= suite.duration %></td>
    <td><%= suite.duration_converted %></td>
    <td><%= suite.name %></td>
    <td><%= link_to 'Show', suite %></td>
    <td><%= link_to 'Edit', edit_suite_path(suite) %></td>
    <td><%= link_to 'Destroy', suite, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Manually Add New Suite', new_suite_path %>
<br />
<%= link_to 'Generate New BVT Suite(s)', auto_create_suites_path + "?jobname=BVT" %>
<br />
<%= link_to 'Generate New Portal Smoke Suite(s)', auto_create_suites_path + "?jobname=PortalSmoke" %>
<br />
<%= link_to 'BVT Performance Graph', suite_performance_path + "?jobname=BVT" %>
<br />
<%= link_to 'Portal Smoke Performance Graph', suite_performance_path + "?jobname=PortalSmoke" %>