<h1>Listing suites</h1>

<table class="table table-bordered table-condensed">
  <tr>
    <th>Build date</th>
    <th>Build time</th>
    <th>Duration converted</th>
    <th>Name</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @suites.each do |suite| %>
  <tr>
    <td><%= suite.build_date %></td>
    <td><%= suite.build_time %></td>
    <td><%= suite.duration_converted %></td>
    <td><%= suite.name %></td>
    <% if suite.status == "failed" %>
    	<td><span class="label label-important"><%= suite.status %></span></td>
    <% else %>
    	<td><span class="label label-success"><%= suite.status %></span></td>
    <% end %>
    <td><%= link_to 'Show', suite %></td>
    <td><%= link_to 'Edit', edit_suite_path(suite) %></td>
    <td><%= link_to 'Destroy', suite, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />