<h1>Listing suites</h1>

<!-- <script>
	var date = "2012-10-30"
	var time = "11-28-05"
	var myArray = time.split("-")
	for(var i=0; i<myArray.length; i++) { myArray[i] = parseInt(myArray[i], 10); }
	var rick = moment("2012-10-30").hours(myArray[0]).seconds(myArray[1]).milliseconds(myArray[2]).toDate();
	document.write(rick);
</script> -->

<ul class="nav nav-tabs">
  <% @suite_list.each_with_index do |suite,suite_num| %>
  	<% if suite_num == 0 %>
  		<li class="active"><a href="#<%= suite.name %>" data-toggle="tab"><%= suite.display_name %> Builds</a></li>
  	<% else %>
  		<li><a href="#<%= suite.name %>" data-toggle="tab"><%= suite.display_name %> Builds</a></li>
  	<% end %>
  <% end %>
</ul>

<div class="tab-content">
	<% @suite_list.each_with_index do |entry,entry_num| %>
		<% if entry_num == 0 %>
			<div class="tab-pane active" id="<%= entry.name %>">
		<% else %>
			<div class="tab-pane" id="<%= entry.name %>">
		<% end %>
			<table class="tablesorter table table-bordered table-condensed table-hover" id="suiteTable">
				<thead>
				  <tr>
					<th>Build Timestamp</th>
				    <th>Duration</th>
				    <th>Status</th>
				    <th></th>
				    <th></th>
				  </tr>
				</thead>
			
			<% @suites[entry.name].each do |suite| %>
			  <tr>
			    <td><%= suite.runstamp %></td>
			    <td><%= suite.duration_converted %></td>
			    <%= model_status_display(suite) %>
			    <td><%= link_to 'Show', suite %></td>
			    <td><%= link_to 'Destroy', suite, confirm: 'Are you sure?', method: :delete %></td>
			  </tr>
			<% end %>
			</table>
		</div>
	<% end %>
</div>
<br />