<h1> <%= @jobname %> Performance Charts</h1>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/datatables/1.9.4/jquery.dataTables.min.js"></script>
    
    <script type="text/javascript">
      google.load('visualization', '1.1', {packages: ['controls']});
    </script>
<ul class="nav nav-tabs">
  <li class="active"><a href="#barChart" data-toggle="tab">Bar Chart</a></li>
  <li><a href="#lineChart" data-toggle="tab">Line Chart</a></li>
</ul>
<div class="tab-content">
	<div class="tab-pane active" id="barChart">
	    <script type="text/javascript">
		  var data = <%= @suiteBuilds.to_json.html_safe %>;
	      function drawVisualization() {
	        // Create and populate the data table.
	        var dataTable = new google.visualization.DataTable();
	        dataTable.addColumn('string', 'Build Date');
	        dataTable.addColumn('number', 'Duration');
	        dataTable.addColumn('string', 'Status');
	        dataTable.addColumn({type:'string', role:'tooltip'});
	        
	        for(var i=0; i < data.length; i++) {
	        	dataTable.addRow([data[i].build_date+"_"+data[i].build_time, data[i].duration, data[i].status, data[i].duration_converted]);
	        }
	      
	        var statusPicker = new google.visualization.ControlWrapper({
	          'controlType': 'CategoryFilter',
	          'containerId': 'control1',
	          'options': {
	            'filterColumnLabel': 'Status',
	            'ui': {
	              'labelStacking': 'vertical',
	              'allowTyping': false,
	              'allowMultiple': false
	            }
	          }
	        });
	        
	        // Define a slider control for the 'Build Date' column
		  	var slider = new google.visualization.ControlWrapper({
		    	'controlType': 'StringFilter',
		    	'containerId': 'control2',
		    	'options': {
		    		'filterColumnLabel': 'Build Date',
		      		'ui': {'labelStacking': 'vertical'}
		    	}
		  	});
		      	
	        var barChart = new google.visualization.ChartWrapper({
	          'chartType': 'BarChart',
	          'containerId': 'chart1',
	          'options': {
	            'width': 900,
	            'height': 700,
	            
	            'chartArea': {top: 0, right: 0, bottom: 0}
	          },
	          // Configure the barchart to use columns 0 (Build Date/Time Stamp) and 1 (Duration)
	          'view': {'columns': [0, 1]}
	        });
	        barChart.setOption('tooltip', {'column':2})
	      
	        // Create the dashboard.
	        new google.visualization.Dashboard(document.getElementById('dashboard')).
	          bind(statusPicker, barChart).
	          bind(slider, barChart).
	          // Draw the dashboard
	          draw(dataTable,
	          	{title:"Suite Performance",
	             vAxis: {title: "Build"},
	             hAxis: {title: "Duration in Nanoseconds", minValue: 200000000000}}
	          );
	      }
	      
	
	      google.setOnLoadCallback(drawVisualization);
	    </script>
	  </head>
	  <body style="font-family: Arial;border: 0 none;">
	    <div id="dashboard">
	      <table>
	        <tr style='vertical-align: top'>
	          <td style='width: 300px; font-size: 0.9em;'>
	            <div id="control1"></div>
	            <div id="control2"></div>
	          </td>
	          <td style='width: 600px'>
	            <div style="float: left;" id="chart1"></div>
	            <div style="float: left;" id="chart1"></div>
	          </td>
	        </tr>
	      </table>
	    </div>
	  </body>
	</div>
	<div class="tab-pane" id="lineChart">
		<script type="text/javascript">
		  var data2 = <%= @suiteBuilds.to_json.html_safe %>;
	      function drawVisualization2() {
	        // Create and populate the data table.
	        var dataTable2 = new google.visualization.DataTable();
	        dataTable2.addColumn('string', 'Build Date');
	        dataTable2.addColumn('number', 'Duration');
	        dataTable2.addColumn('string', 'Status');
	        dataTable2.addColumn({type:'string', role:'tooltip'});
	        
	        for(var i=0; i < data2.length; i++) {
	        	dataTable2.addRow([data2[i].build_date+"_"+data2[i].build_time, data2[i].duration, data2[i].status, data2[i].duration_converted]);
	        }
	      
	        var statusPicker2 = new google.visualization.ControlWrapper({
	          'controlType': 'CategoryFilter',
	          'containerId': 'control3',
	          'options': {
	            'filterColumnLabel': 'Status',
	            'ui': {
	              'labelStacking': 'vertical',
	              'allowTyping': false,
	              'allowMultiple': false
	            }
	          }
	        });
	        
	        // Define a slider control for the 'Build Date' column
		  	var slider2 = new google.visualization.ControlWrapper({
		    	'controlType': 'StringFilter',
		    	'containerId': 'control4',
		    	'options': {
		    		'filterColumnLabel': 'Build Date',
		      		'ui': {'labelStacking': 'vertical'}
		    	}
		  	});
		      	
	        var lineChart = new google.visualization.ChartWrapper({
	          'chartType': 'LineChart',
	          'containerId': 'chart2',
	          'options': {
	            'width': 900,
	            'height': 700,
	            
	            'chartArea': {top: 0, right: 0, bottom: 0}
	          },
	          // Configure the barchart to use columns 0 (Build Date/Time Stamp) and 1 (Duration)
	          'view': {'columns': [0, 1]}
	        });
	        lineChart.setOption('tooltip', {'column':2})
	      
	        // Create the dashboard.
	        new google.visualization.Dashboard(document.getElementById('dashboard2')).
	          bind(statusPicker2, lineChart).
	          bind(slider2, lineChart).
	          // Draw the dashboard
	          draw(dataTable2,
	          	{title:"Suite Performance",
	             vAxis: {title: "Build"},
	             hAxis: {title: "Duration in Nanoseconds", minValue: 200000000000}}
	          );
	      }
	      
	
	      google.setOnLoadCallback(drawVisualization2);
	    </script>
	  </head>
	  <body style="font-family: Arial;border: 0 none;">
	    <div id="dashboard2">
	      <table>
	        <tr style='vertical-align: top'>
	          <td style='width: 300px; font-size: 0.9em;'>
	            <div id="control3"></div>
	            <div id="control4"></div>
	          </td>
	          <td style='width: 600px'>
	            <div style="float: left;" id="chart2"></div>
	            <div style="float: left;" id="chart2"></div>
	          </td>
	        </tr>
	      </table>
	    </div>
	  </body>
	</div>
</div>
<table>
	<tr>
		<th colspan="5">Links to graphed <%=@jobname %> builds</th>
	</tr>
	<% @suiteBuilds.each do |suite| %>
	<tr>
		<td style="padding-right: 5px"><%= link_to @jobname + ' build ' + suite.getFullName(suite.id).to_s, suite_path(suite.id) %></td>
	</tr>
	<% end %>
</table>

<br />

<%= link_to 'Suite Index', suites_path %>
