<p id="notice"><%= notice %></p>

<table>
  <tr>
    <th>Build date</th>
    <th>Build time</th>
    <th>Duration</th>
    <th>Duration converted</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td><%= @current_suite.build_date %></td>
    <td><%= @current_suite.build_time %></td>
    <td><%= @current_suite.duration %></td>
    <td><%= @current_suite.duration_converted %></td>
    <td><%= @current_suite.name %></td>
    <td><%= link_to 'Edit', edit_suite_path(@current_suite) %></td>
    <td><%= link_to 'Destroy', @current_suite, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
</table>


<%= render 'features/put_features' %>

<br />

<%= link_to 'Edit', edit_suite_path(@current_suite) %> |
<%= link_to 'Back', suites_path %> |
<%= link_to 'Features', suite_features_path(@current_suite) %>