<p id="notice"><%= notice %></p>

<table class="table table-bordered table-hover">
  <tr>
    <th>Build date</th>
    <th>Build time</th>
    <th>Duration</th>
    <th>Duration converted</th>
    <th>Name</th>
    <th>Browser</th>
    <th>OS</th>
    <th>Mobilizer</th>
    <th>Mobilizer Build Tag</th>
    <th>URL</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td><%= @current_suite.build_date %></td>
    <td><%= @current_suite.build_time %></td>
    <td><%= @current_suite.duration %></td>
    <td><%= @current_suite.duration_converted %></td>
    <td><%= @current_suite.name %></td>
    <td><%= @current_suite.browser %></td>
    <td><%= @current_suite.os %></td>
    <td><%= @current_suite.mobilizer %></td>
    <td><%= @current_suite.mobilizer_build_tag %></td>
    <td><%= @current_suite.url %></td>
    <td><%= link_to 'Edit', edit_suite_path(@current_suite) %></td>
    <td><%= link_to 'Destroy', @current_suite, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
</table>


<%= render 'features/put_features' %>

<br />

<%= link_to 'Edit', edit_suite_path(@current_suite) %> |
<%= link_to 'Back', suites_path %>