<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= label_tag "Jenkins Job Name" %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= label_tag "Name to be displayed throughout the app" %>
    <%= f.text_field :display_name %>
  </div>
  <div class="field">
    <%= label_tag "File path to where the Jenkins 'builds' directory is located for this job" %>
    <%= f.text_field :file_path %>
  </div>
  <div class="field">
    <%= label_tag "Enable this task for the app" %>
    <%= f.check_box :active %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
