<p id="notice"><%= notice %></p>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<p>
			  <b>Name:</b>
			  <%= @task.name %>
			</p>
			
			<p>
			  <b>Display name:</b>
			  <%= @task.display_name %>
			</p>
			
			<p>
			  <b>File path:</b>
			  <%= @task.file_path %>
			</p>
			
			<p>
			  <b>Active:</b>
			  <%= @task.active %>
			</p>
			
			
			<%= link_to 'Edit', edit_task_path(@task), :class => "btn btn-small" %> |
			<%= link_to 'Back', tasks_path, :class => "btn btn-small" %>
		</div>
	</div>
</div>
