<%= form_for(@bvt) do |f| %>
  <% if @bvt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bvt.errors.count, "error") %> prohibited this bvt from being saved:</h2>

      <ul>
      <% @bvt.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :build_date %><br />
    <%= f.text_field :build_date %>
  </div>
  <div class="field">
    <%= f.label :build_time %><br />
    <%= f.text_field :build_time %>
  </div>
  <div class="field">
    <%= f.label :duration %><br />
    <%= f.number_field :duration %>
  </div>
  <div class="field">
    <%= f.label :duration_converted %><br />
    <%= f.text_field :duration_converted %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
