<p id="notice"><%= notice %></p>

<p>
  <b>Build date:</b>
  <%= @bvt.build_date %>
</p>

<p>
  <b>Build time:</b>
  <%= @bvt.build_time %>
</p>

<p>
  <b>Duration:</b>
  <%= @bvt.duration %>
</p>

<p>
  <b>Duration converted:</b>
  <%= @bvt.duration_converted %>
</p>


<%= link_to 'Edit', edit_bvt_path(@bvt) %> |
<%= link_to 'Back', bvts_path %>
