<h1>
	Warning: The AVERAGE of the last 10 <%= @email_task.display_name %> Suites is above the Time Limit.
</h1>

<ul>
	<li>Browser: <%= @email_alert_task.browser %> </li>
	<li>Current Average: <%= convert_time(@average)%> </li>
	<li>Time Limit: <%= convert_time(@email_alert_task.time_limit)%> </li>
</ul>

<p>
	Links to the last 10 Suites
</p>
<ul>
	<%  @email_suite_list.each do |suite| %>
		<%= dump_suite_list(suite) %>
	<% end %>
</ul>

