<h1>Listing the steps for <%@current_scenario.name %> from the <%= @current_feature.name %> feature of <%= @current_suite.name %> build on <%= @current_suite.build_date + "_" + @current_suite.build_time %></h1>

<table>
  <tr>
    <th>Name</th>
    <th>Duration</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @steps.each do |step| %>
  <tr>
  	<% if step.name.length == 0
  		displayName = step.keyword
  	   else
  	   	displayName = step.name
  	   end %>
    <td><%= displayName %></td>
    <td><%= step.duration_converted %></td>
    <% if step.status == "failed" %>
    	<td><span class="badge badge-important"><%= step.status %></span></td>
    <% elsif step.status == "skipped" %>
    	<td><span class="label label-info"><%= step.status %></span></td>
    <% else %>
    	<td><span class="label label-default"><%= step.status %></span></td>
    <% end %>
    <td><%= link_to 'Show', [@current_suite,@current_feature,@current_scenario,step] %></td>
    <td><%= link_to 'Edit', edit_suite_feature_scenario_step_path(@current_suite,@current_feature,@current_scenario,step) %></td>
    <td><%= link_to 'Destroy', [@current_suite,@current_feature,@current_scenario,step], confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Step', new_suite_feature_scenario_step_path(@current_suite,@current_feature,@current_scenario) %>
