<p id="notice"><%= notice %></p>

<p>
  <b>Keyword:</b>
  <%= @step.keyword %>
</p>

<p>
  <b>Name:</b>
  <%= @step.name %>
</p>

<p>
  <b>Duration:</b>
  <%= @step.duration %>
</p>

<p>
  <b>Duration converted:</b>
  <%= @step.duration_converted %>
</p>

<p>
  <b>Status: </b>
  <%= step_status_show_display %>
</p>

<%= step_failure_display %>

<p>
  <b>Scenario:</b>
  <%= @step.scenario_id %>
</p>

<%= step_display_failure_image %>

<%= link_to 'Back', [@current_suite,@current_feature,@current_scenario], :class => "btn btn-small" %>
