<p id="notice"><%= notice %></p>

<p>
  <b>Keyword:</b>
  <%= @step.keyword %>
</p>

<p>
  <b>Name:</b>
  <%= @step.name %>
</p>

<p>
  <b>Duration:</b>
  <%= @step.duration %>
</p>

<p>
  <b>Duration converted:</b>
  <%= @step.duration_converted %>
</p>

<% if @step.status == "failed" %>
	<p><b>Status:</b><span class="label label-important">
<% elsif @step.status == "skipped" %>
	<p><b>Status:</b><span class="label label-info">
<% else %>
	<p><b>Status:</b><span class="label label-success">
<% end %>
  <%= @step.status %>
</span></p>

<p>
  <b>Scenario:</b>
  <%= @step.scenario_id %>
</p>


<%= link_to 'Edit', edit_suite_feature_scenario_step_path(@current_suite,@current_feature,@current_scenario,@step) %> |
<%= link_to 'Back', [@current_suite,@current_feature,@current_scenario] %>
