<p id="notice"><%= notice %></p>

<p>
  <b>Keyword:</b>
  <%= @step.keyword %>
</p>

<p>
  <b>Name:</b>
  <%= @step.name %>
</p>

<p>
  <b>Duration:</b>
  <%= @step.duration %>
</p>

<p>
  <b>Duration converted:</b>
  <%= @step.duration_converted %>
</p>

<p>
  <b>Status: </b>
<%= step_status_show_display %>
</p>

<%= step_failure_display %>

<p>
	<a href="#imageButton" role="button" class="btn btn-primary" onclick=showStepFailedImage()>Show Image</a>
</p>

<div id="imageButton" style="display:none">
	<img id="imageButton" alt="Embedded Image" src="data:image/png;base64,<%= @step.failure_image %>" />
</div>


<%= link_to 'Back', [@current_suite,@current_feature,@current_scenario] %>
