<p id="notice"><%= notice %></p>

<table class="table table-bordered table-hover">
  <tr>
    <th>Name</th>
    <th>Duration</th>
    <th></th>
  </tr>
  <tr>
  	<% if @current_scenario.name.length == 0
  		displayName = @current_scenario.keyword
  	   else
  	   	displayName = @current_scenario.name
  	   end %>
    <td><%= displayName %></td>
    <td><%= @current_scenario.duration_converted %></td>
    <td><%= link_to 'Destroy', [@current_suite,@current_feature,@current_scenario], confirm: 'Are you sure?', method: :delete %></td>
  </tr>
</table>

<%= render 'steps/put_steps' %>

<br />

<%= link_to 'Back', [@current_suite,@current_feature] %>
