<p id="notice"><%= notice %></p>

<p>
  <b>Browser:</b>
  <%= @task_alert.browser %>
</p>

<p>
  <b>Time limit:</b>
  <%= @task_alert.time_limit %>
</p>


<%= link_to 'Edit', edit_task_task_alert_path([@current_task,@task_alert]) %> |
<%= link_to 'Back', task_task_alerts_path %>
