<p id="notice"><%= notice %></p>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<table class="table table-bordered table-hover">
			  <tr>
			    <th>Feature</th>
			    <th>Duration</th>
			    <th></th>
			  </tr>
			  <tr>
			    <td><%= link_to @current_feature.name, [@current_suite], :class => "cuke_results" %></td>
			    <td><%= @current_feature.duration_converted %></td>
			    <td><%= link_to 'Destroy', [@current_suite,@current_feature], confirm: 'Are you sure?', method: :delete, :class => "btn btn-small" %></td>
			  </tr>
			</table>
			
			<%= render 'scenarios/put_scenarios' %>
			
			<br />
			
			<%= link_to 'Back', [@current_suite], :class => "btn btn-small" %>
		</div>
	</div>
</div>
