<p id="notice"><%= notice %></p>

<p>
  <b>Keyword:</b>
  <%= @feature.keyword %>
</p>

<p>
  <b>Name:</b>
  <%= @feature.name %>
</p>

<p>
  <b>Duration:</b>
  <%= @feature.duration %>
</p>

<p>
  <b>Duration converted:</b>
  <%= @feature.duration_converted %>
</p>

<p>
  <b>Suite:</b>
  <%= @current_suite.name %>
</p>


<%= link_to 'Edit', edit_suite_feature_path(@current_suite, @feature) %> |
<%= link_to 'Back', suite_features_path(@current_suite) %>
