<div class="calculator-body">
	<%= label_tag :hours, "Hours: " %>
	<%= hours_display %>
	
	<%= label_tag :minutes, "Minutes: " %>
	<%= minutes_display %>
	
	<%= label_tag :seconds, "Seconds: " %>
	<%= seconds_display %>
	
	<%= label_tag :milliseconds, "Milliseconds: " %>
	<%= milliseconds_display %>			
</div>