<head>
  <title>Cuke Performance</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/assets/bootstrap-responsive.css" rel="stylesheet">
  
  	<script type="text/javascript" src="https://raw.github.com/snaptortoise/konami-js/master/konami.js"></script>
	<script type="text/javascript">
		var konami = new Konami('http://www.virtualnes.com/play/?id=NES-CT');
	</script>
  
</head>

<% if acceptable_browser? %>
  <h5 class="alert-danger">This application is not designed to work in IE.  Please switch over to Chrome or Firefox for a better experience</h5>
<% end %>
<body>
	
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/"><i class="icon-home"></i></a>
      <ul class="nav">
      	<li class="divider-vertical"></li>
        <li><a href="/suites">Suites</a></li>
        <ul class="nav"> 
        	<li class="divider-vertical"></li> 
  			<li class="dropdown">
    			<a href="#"  
          			class="dropdown-toggle"  
          			data-toggle="dropdown">  
          			Generate Data  
          			<b class="caret"></b>  
    			</a>  
    			<ul class="dropdown-menu">
    				<% @suite_list.each do |suite| %>
    				<li><a onclick="captureData('<%= get_generate_data_url(suite) %>');return false"><%= suite.display_name %></a></li>
     				<% end %> 
    			</ul>  
  			</li> 
  			<li class="divider-vertical"></li> 
  			<li class="dropdown">  
    			<a href="#"  
          			class="dropdown-toggle"  
          			data-toggle="dropdown">  
          			View Graphs 
          			<b class="caret"></b>  
    			</a>  
    			<ul class="dropdown-menu">  
     				<li><a href="/graph/suites">Suites Graph</a></li>
     				<li><a href="/graph/features">Features Graph</a></li>
     				<li><a href="/graph/scenarios">Scenarios Graph</a></li>
     				<li><a href="/graph/steps">Steps Graph</a></li>
    			</ul>  
  			</li>  
		</ul>
		<li class="divider-vertical"></li>
		<li><a href="/tasks">Tasks <i class="icon-tasks"></i></a></li>
		<li class="divider-vertical"></li> 
  			<li class="dropdown">
    			<a href="#"  
          			class="dropdown-toggle"  
          			data-toggle="dropdown">  
          			Alerts 
          			<b class="caret"></b>  
    			</a>  
    			<ul class="dropdown-menu">  
     				<% @suite_list.each do |suite| %>
     					<li><%= link_to suite.display_name, task_task_alerts_path(suite.id) %></li>
     				<% end %>
    			</ul>
  			</li>
		<li class="divider-vertical"></li> 
		<li><a href="#help_modal" data-toggle="modal">Help <i class="icon-question-sign"></i></a></li>
		<li class="divider-vertical"></li>
		<li><button <%= display_button("small","info") %> onclick="askPermission()" type="button">Enable Notifications</button></td></li>
		<li class="divider-vertical"></li>
      </ul>
    </div>
  </div>
</div>

<div id="help_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<%= render 'layouts/help_form' %>
</div>

<%= yield %>
</body>
